<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>Handshake - StartUps</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <link
        href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Roboto:300,300i,400,400i,500,500i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
        rel="stylesheet">

    <link href="/vendor/animate.css/animate.min.css" rel="stylesheet">
    <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
    <link href="/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

    <link href="/css/style.css" rel="stylesheet">
    <link href="/css/startups.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/learn.css">

</head>

<body>
    <!-- ======= Header ======= -->
    <header id="header" class="d-flex align-items-center">
        <div class="container d-flex align-items-center justify-content-between">

          <div class="logo">
        
            <a href="index.html"><img src="/img/logo.png" alt="" class="img-fluid" style="max-height: 280px;"></a>
            
            
          </div>

            <nav id="navbar" class="navbar">
                <ul>
                  <li><a class="nav-link scrollto" href="/">Home</a></li>
                  <li><a class="nav-link scrollto" href="/startups">Startups</a></li>
                  <li><a class="nav-link scrollto" href="/investors">Investors</a></li>
                  <li><a class="nav-link scrollto" href="/featured">Featured</a></li>
                  <li><a class="nav-link scrollto" href="/schools_colleges">Schools/Colleges</a></li>
                  <li><a class="nav-link scrollto active" href="/learn">Learn</a></li>
                  <li><a class="nav-link scrollto" href="/login"><span style="color: #EF5A5A;">Sign In</span></a></li>
                </ul>
                <i class="bi bi-list mobile-nav-toggle"></i>
            </nav><!-- .navbar -->

        </div>
    </header><!-- End Header -->
    <section id="hero">
      <div class="hero-container">
        <div id="heroCarousel" class="carousel slide carousel-fade" data-bs-ride="carousel" data-bs-interval="5000">
  
          <ol class="carousel-indicators" id="hero-carousel-indicators"></ol>
  
          <div class="carousel-inner" role="listbox">
  
            <!-- Slide 1 -->
            <div class="carousel-item active">
              <div class="carousel-background"><img src="/img/slide/slide-4.png" alt=""></div>
              <div class="carousel-container">
                <div class="carousel-content">
                  <h2 class="animate__animated animate__fadeInDown" style="color: #ffa952;">How They Did It: Success Stories & Advice from Top Entrepreneurs in Tech</h2>
                  <p class="animate__animated animate__fadeInUp">Building a startup is hard, but it's even harder for minority and women-owned startups, and if you want to be successful in your startup journey, it pays to heed the advice of those who have walked a similar path yet have achieved success against all the odds. 
                   Anyone interested in entrepreneurshipor Anyone who is keen to learn from an inspiring, enlightening and authentic conversation or  Anyone who has an idea for a startup or an early-stage company should surely attend this event.
 </p>

                  <p class="animate__animated animate__fadeInUp">Tuesday, October 20, 2021 <br>11:00am-12:30pm<br>Eventbrite</p>
                  <a href="https://www.eventbrite.com/e/how-they-did-it-success-stories-advice-from-top-entrepreneurs-in-tech-tickets-188658832647" class="btn-get-started animate__animated animate__fadeInUp scrollto">Register Now</a>
                </div>
              </div>
            </div>
  
            <!-- Slide 2 -->
            <div class="carousel-item">
              <div class="carousel-background"><img src="/img/slide/slide-5.png" alt=""></div>
              <div class="carousel-container">
                <div class="carousel-content">
                  <h2 class="animate__animated animate__fadeInDown" style="color: #ffa952;"">Founder Institute GCC-Silicon Valley UAE Graduation (Online Event)</h2>
                  <p class="animate__animated animate__fadeInUp">Join us for the graduation of the latest GCC-Silicon Valley cohort, where you can see an inspiring talk by a successful entrepreneur and a few "debut" presentations from new alumni. 
                     Alumni, mentors, and friends of the Founder Institute or  Anyone interested in launching a technology company in UAE or  Anyone interested in learning about the innovative pre-seed companies coming out of the UAE program should surely attend this event.
                  </p>
                  <p class="animate__animated animate__fadeInUp">Tuesday, October 12, 2021 <br>7:00am-8:30am<br>Eventbrite</p>
                  <a href="https://www.eventbrite.com/e/founder-institute-gcc-silicon-valley-uae-graduation-online-event-tickets-171473942177" class="btn-get-started animate__animated animate__fadeInUp scrollto">Register Now</a>
                </div>
              </div>
            </div>
  
            <!-- Slide 3 -->
            <div class="carousel-item">
              <div class="carousel-background"><img src="/img/slide/slide-6.png" alt=""></div>
              <div class="carousel-container">
                <div class="carousel-content">
                  <h2 class="animate__animated animate__fadeInDown" style="color: #ffa952;"">How to Raise Funding in Eastern Europe from the Region's Top Organizations</h2>
                  <p class="animate__animated animate__fadeInUp">Do you have a startup that needs funding? Do you want to learn how startup funding works, what you need to do before trying to raise funding, and where you can go to get it? Then join us for this online fundraising event, which will provide practical, step by step advice. It will feature talks from angel and VC investors from Bulgaria, Canada, Czech Republic, North Macedonia, Romania and Slovakia that are funding companies in the pre-seed stage coming from Eastern Europe. </p>
                  <p class="animate__animated animate__fadeInUp">Tuesday, October 12, 2021 <br>8:00am-9:30am<br>Eventbrite</p>
                  <a href="https://www.eventbrite.com/e/how-to-raise-funding-in-eastern-europe-from-the-regions-top-organizations-tickets-183097618907" class="btn-get-started animate__animated animate__fadeInUp scrollto">Register Now</a>
                </div>
              </div>
            </div>
  
          </div>
  
          <a class="carousel-control-prev" href="#heroCarousel" role="button" data-bs-slide="prev">
            <span class="carousel-control-prev-icon bi bi-chevron-double-left" aria-hidden="true"></span>
          </a>
  
          <a class="carousel-control-next" href="#heroCarousel" role="button" data-bs-slide="next">
            <span class="carousel-control-next-icon bi bi-chevron-double-right" aria-hidden="true"></span>
          </a>
  
        </div>
      </div>
    </section><!-- End Hero -->
    <div class="row">
        <div
          class="col-lg-4 col-md-6 col-sm-6 col-12"
          data-scroll-reveal="enter bottom move 50px over 0.6s after 0.2s"
        >
          <div class="features-small-item">
              <div class="icon">
                
                <i><div class="learnicon bi bi-file-text"></div></i>
              </div>
              <h5 class="features-title"> Legal Documentation </h5>
            </div>
          </div>
       
          
        
        <div
          class="col-lg-4 col-md-6 col-sm-6 col-12"
          data-scroll-reveal="enter bottom move 50px over 0.6s after 0.4s"
        >
          
              <div class="features-small-item">
                  <div class="icon">
                    <i><div class="learnicon bi bi-cash-coin"></div></i>
                  </div>
                  <h5 class="features-title"> Stocks and raising capital</h5>
                  
                </div>

        </div>
        

        <div
          class="col-lg-4 col-md-6 col-sm-6 col-12"
          data-scroll-reveal="enter bottom move 50px over 0.6s after 0.6s"
        >
  
         
          <div class="features-small-item">
              <div class="icon">
                <i><div class="learnicon bi bi-people"></div></i>
              </div>
              <h5 class="features-title">Intellectual property rights</h5>
              
            </div>
          </div>
         
        <!-- ***** Features Small Item End ***** -->
      </div>

      <div class="row">
        <div
          class="col-lg-4 col-md-6 col-sm-6 col-12"
          data-scroll-reveal="enter bottom move 50px over 0.6s after 0.2s"
        >
          <div class="features-small-item">
              <div class="icon">
                <i><div class="learnicon bi bi-card-text"></div></i>
              </div>
              <h5 class="features-title">  Getting Required certifications for your business</h5>
            </div>
          </div>
       
          
        
        <div
          class="col-lg-4 col-md-6 col-sm-6 col-12"
          data-scroll-reveal="enter bottom move 50px over 0.6s after 0.4s"
        >
          
              <div class="features-small-item">
                  <div class="icon">
                    <i><div class="learnicon bi bi-file-post"></div></i>
                  </div>
                  <h5 class="features-title"> Tax laws and filing return</h5>
                  
                </div>

        </div>
        

        <div
          class="col-lg-4 col-md-6 col-sm-6 col-12"
          data-scroll-reveal="enter bottom move 50px over 0.6s after 0.6s"
        >
  
         
          <div class="features-small-item">
              <div class="icon">
                <i><div class="learnicon bi bi-currency-dollar"></div></i>
              </div>
              <h5 class="features-title"> Deciding your product cost</h5>
              
            </div>
          </div>
         
        <!-- ***** Features Small Item End ***** -->
      </div>

      <section class="cta">
        <div class="container">
  
          <div class="text-center">
            <h3>Register Now!</h3>
            <p> If you are a content writer or you are willing to mentor budding entrepreneurs! Then Apply now for the suitable profile.</p>
            <a class="cta-btn" href="/comingsoon">Apply now!</a>
          </div>
  
        </div>
      </section><!-- End Cta Section -->
     
      <!-- ======= Our Team Section ======= -->
    <section id="team" class="team">
      <div class="container">

        <div class="section-title">
          <h2>Find Yourself A Mentor</h2>
          <p>Have 1-on-1 conversations about growth, marketing, and everything in between with the world's top 3% of startup and marketing mentors.</p>
        </div>

        <div class="row">

          <div class="col-xl-3 col-lg-4 col-md-6">
            <div class="member">
              <img src="/img/team/1.png" class="img-fluid" alt="">
              <div class="member-info">
                <div class="member-info-content">
                  <h4>Walter White</h4>
                  <span>Chief Executive Officer</span>
                </div>
                <div class="social">
                  <a href=""><i class="bi bi-twitter"></i></a>
                  <a href=""><i class="bi bi-facebook"></i></a>
                  <a href=""><i class="bi bi-instagram"></i></a>
                  <a href=""><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-xl-3 col-lg-4 col-md-6" data-wow-delay="0.1s">
            <div class="member">
              <img src="/img/team/2.png" class="img-fluid" alt="">
              <div class="member-info">
                <div class="member-info-content">
                  <h4>Sarah Jhonson</h4>
                  <span>Product Manager</span>
                </div>
                <div class="social">
                  <a href=""><i class="bi bi-twitter"></i></a>
                  <a href=""><i class="bi bi-facebook"></i></a>
                  <a href=""><i class="bi bi-instagram"></i></a>
                  <a href=""><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-xl-3 col-lg-4 col-md-6" data-wow-delay="0.2s">
            <div class="member">
              <img src="/img/team/3.png" class="img-fluid" alt="">
              <div class="member-info">
                <div class="member-info-content">
                  <h4>William Anderson</h4>
                  <span>CTO</span>
                </div>
                <div class="social">
                  <a href=""><i class="bi bi-twitter"></i></a>
                  <a href=""><i class="bi bi-facebook"></i></a>
                  <a href=""><i class="bi bi-instagram"></i></a>
                  <a href=""><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-xl-3 col-lg-4 col-md-6" data-wow-delay="0.3s">
            <div class="member">
              <img src="/img/team/4.png" class="img-fluid" alt="">
              <div class="member-info">
                <div class="member-info-content">
                  <h4>Amanda Jepson</h4>
                  <span>Accountant</span>
                </div>
                <div class="social">
                  <a href=""><i class="bi bi-twitter"></i></a>
                  <a href=""><i class="bi bi-facebook"></i></a>
                  <a href=""><i class="bi bi-instagram"></i></a>
                  <a href=""><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Our Team Section -->

<!-- ======= Footer ======= -->
<footer id="footer">
    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-3 col-md-6 footer-info">
            <h3>Shuffle</h3>
            <p>
              A108 Adam Street <br>
              NY 535022, USA<br><br>
              <strong>Phone:</strong> +1 5589 55488 55<br>
              <strong>Email:</strong> info@example.com<br>
            </p>
            <div class="social-links mt-3">
              <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
              <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
              <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
              <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
              <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
            </div>
          </div>

          <div class="col-lg-2 col-md-6 footer-links">
            <h4>Useful Links</h4>
            <ul>
              
              <li><i class="bx bx-chevron-right"></i> <a href="/">Home</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="/#about">About us</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="/#services">Services</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="/#portfolio">Startups in Buzz</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="/#info-box">FAQs</a></li>
            </ul>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Our Services</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="/startups">Startups</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="/investors">Investors</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="/featured">Featured</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="/schools_colleges">Schools/Colleges</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="/learn">Learn</a></li>
            </ul>
          </div>
          <div class="col-lg-4 col-md-6 footer-newsletter">
            <h4>Our Newsletter</h4>
            <p>Subscribe to our newsletter to get all the updates regarding the investors, startups and webinars by handShake.</p>
            <form action="" method="post">
              <input type="email" name="email"><input type="submit" value="Subscribe">
            </form>

          </div>

        </div>
      </div>
    </div>

    <div class="container">
      <div class="copyright">
        &copy;<strong><span> handShake</span></strong>. Innovathon 2021.
      </div>
      <div class="credits">
        <!-- All the links in the footer should remain intact. -->
        <!-- You can delete the links only if you purchased the pro version. -->
        <!-- Licensing information: https://bootstrapmade.com/license/ -->
        <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/bootstrap-3-one-page-template-free-shuffle/ -->
        Made by Team RgR.
      </div>
    </div>
  </footer><!-- End Footer -->






    <!-- Vendor JS Files -->
    <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="/vendor/glightbox/js/glightbox.min.js"></script>
    <script src="/vendor/isotope-layout/isotope.pkgd.min.js"></script>
    <script src="/vendor/php-email-form/validate.js"></script>
    <script src="/vendor/purecounter/purecounter.js"></script>
    <script src="/vendor/swiper/swiper-bundle.min.js"></script>
    <script src="/vendor/waypoints/noframework.waypoints.js"></script>

    <!-- Template Main JS File -->
    <script src="/js/main.js"></script>

</body>

</html>