<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>handShake - Sign In</title>
    <link rel="stylesheet" href="/css/signin.css">
	<!-- Font Awesome library -->
	<script src="https://kit.fontawesome.com/fd761fe36d.js" crossorigin="anonymous"></script>
</head>
<body>
    <h2>Welcome to handShake!</h2>
<div class="container" id="container">
	<div class="form-container sign-up-container">
		<form action="#">
			<h1>Startup Sign In</h1>
			<div class="social-container">
				<a href="#" class="social"><i class="fab fa-facebook-f"></i></a>
				<a href="#" class="social"><i class="fab fa-google-plus-g"></i></a>
				<a href="#" class="social"><i class="fab fa-linkedin-in"></i></a>
			</div>
			<span>or use your email for registration</span>
			<input type="email" placeholder="Email" />
			<input type="password" placeholder="Password" />
			<button>Sign Up</button>

		</form>
	</div>
	<div class="form-container sign-in-container">
		<form action="#">
			<h1>Investor Sign In</h1>
			<div class="social-container">
				<a href="#" class="social"><i class="fab fa-facebook-f"></i></a>
				<a href="#" class="social"><i class="fab fa-google-plus-g"></i></a>
				<a href="#" class="social"><i class="fab fa-linkedin-in"></i></a>
			</div>
			<span>or use your account</span>
			<input type="email" placeholder="Email" />
			<input type="password" placeholder="Password" />
			<a href="#">Forgot your password?</a>
			<button>Sign In</button>
		</form>
	</div>
	<div class="overlay-container">
		<div class="overlay">
			<div class="overlay-panel overlay-left">
				<h1>Not a startup?</h1>
				<p>SignIn as an investor here!</p>
				<button class="ghost" id="signIn">Sign In as investor</button>
                <button class="ghost" style="margin-top: 20px;">Back to Home</button>
			</div>
			<div class="overlay-panel overlay-right">
				<h1>Not an investor?</h1>
				<p>Sign In as a startup here!</p>
				<button class="ghost" id="signUp">Sign In as Startup</button>
                <button class="ghost" style="margin-top: 20px;">Back to Home</button>
			</div>
		</div>
	</div>
</div>



<script src="/js/signin.js"></script>
</body>
</html>