.row{
    padding: 20px;
}

.features-small-item {
    cursor: pointer;
    display: block;
    background: #FFFFFF;
    box-shadow: 0 2px 48px 0 rgba(0, 0, 0, 0.10);
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    padding: 30px;
    text-align: center;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    position: relative;
    margin-bottom: 30px;
  }
  
  .features-small-item:hover .icon {
    background-color: #ff589e;
  }
  
  .features-small-item .icon {
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    width: 90px;
    height: 90px;
    line-height: 90px;
    margin: auto;
    position: relative;
    margin-bottom: 30px;
    background:#FF5757;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
  }
  
  .features-small-item .icon i {
    font-size: 18px;
    color: #fff;
  }
  
  .features-small-item .features-title {
    font-weight: 500;
    font-size: 18px;
    color: #1e1e1e;
    letter-spacing: 0.7px;
    margin-bottom: 15px;
    position: relative;
    z-index: 2;
  }
  
  .features-small-item p {
    font-weight: 400;
    font-size: 13px;
    color: #777;
    letter-spacing: 0.5px;
    line-height: 25px;
    position: relative;
    z-index: 2;
  }
  
  .features-small-item a {
    float: right;
    position: relative;
    z-index: 2;
  }
  